 body{
        align-items: center;
        padding-top: 10%;
        padding-left: 20%;
        padding-bottom: 10%;
        padding-right: 10%;
        background-color: #6ec8f1;
    }
    img{
        height: 35%;
        width: 35%;
    }
    
  button{
    height: 50px;
    width: 50px;
    align-content: center;
  }
